{% extends 'base.html' %}

{% block content %}
<div class="container">
  <h4 class="text-center">Личный кабинет</h4>
  <hr>
    <div class="d-grid gap-2 col-6 mx-auto">
      <a class="btn btn-outline-dark" href="{% url 'create' %}" role="button">Создать игру</a>
      <a class="btn btn-outline-dark" href="{% url 'game' %}" role="button">Вступить в игру</a>
    </div>
</div>


      <hr>
      <h3><span class="badge bg-dark text-light">Как это работает?</span></h3>
      <div class="row my-5">
        <div class="col col-6 pr-4">
            <div class="card border-dark">
                <div class="card-header">
                    Создание игры
                </div>
                <div class="card-body">
                    <p>После регистрации вы сможете создать игру 'Тайный Санта'.</p>
                    <p>Вы указываете её название, есть ли органичение на размер подарка и какое, дату жеребьёвки, дату вручения подарков и участвуете ли сами.</p>
                    <p>После создания игры будет доступна ссылка для участия в игре, которую вы можете разослать своим друзьям и коллегам.</p>
                </div>
            </div>
        </div>
        <div class="col col-6">
        </div>
      </div>

      <div class="row my-5">
        <div class="col col-6">
        </div>
        <div class="col col-6 pl-4">
            <div class="card border-dark">
                <div class="card-header">
                    Приглашение участников
                </div>
                <div class="card-body">
                    <p>Участники вступают по приглашению. При регистрации они могут заполнить свои пожелания по подарку и письмо Санте.</p>
                    <p>В указанную дату произойдет случайная жеребьёвка среди всех зарегистрированных участников.</p>
                </div>
            </div>
        </div>
      </div>
      <div class="row my-5">
        <div class="col col-6 pr-4">
            <div class="card border-dark">
                <div class="card-header">
                    Уведомление в личном кабинете
                </div>
                <div class="card-body">
                    Сразу после проведения жеребьевки у всех участников в личном кабинете появится уведомление, и они узнают, кому нужно подготовить подарок и к какой дате.
                </div>
            </div>
        </div>
        <div class="col col-6 pl-4">
        </div>
      </div>
{% endblock content %}
