{% extends 'base.html' %}
{% block content %}


  {% for game in games %}
  <h4 class="text-center">Игра: {{ game.name }}</h4>
    <div class="container">
      <div class="row my-3">
        <div class="col-4">Создатель игры</div>
        <div class="col">{{ game.game_creator }}</div>
      </div>
      <div class="row my-3">
        <div class="col-4">Название игры</div>
        <div class="col">{{ game.name }}</div>
      </div>
      <div class="row my-3">
        <div class="col-4">Максимальная стоимость подарка</div>
        <div class="col">{{ game.get_price_limit_display }}</div>
      </div>
      <div class="row my-3">
        <div class="col-4">Дата жеребьёвки</div>
        <div class="col">{{ game.draw_date }}</div>
      </div>
      <div class="row my-3">
        <div class="col-4">Дата вручения подарка</div>
        <div class="col">{{ game.gift_date }}</div>
      </div>

      {% for name in game.game_creator_assistent.all %}

    </div>
{% endfor %}

<div>
    <form method="post" style='text-align:center'>
        {% csrf_token %}
        <button type="submit" name="run_script">Провести жеребьевку</button>
    </form>
</div>



<hr>
  {% for game in games %}
  <h4 class="text-center">Игроки:</h4>
    <div class="container">
    {% for name in game.game_creator_assistent.all %}
        <div class="row my-3">

          <div class="col-4">Игрок</div>
          <div class="col">{{ name }}</div>
        </div>
      {% endfor %}

    </div>
{% endfor %}



{% endblock content %}
